@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--darker-cyan: hsl(158, 36%, 20%);
	--cream: hsl(30, 38%, 92%);
	--dark-blue: hsl(212, 21%, 14%);
	--grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);

	--ff-accent: 'Fraunces', serif;
	--ff-base: 'Montserrat', sans-serif;

	--fw-regular: 500;
	--fw-bold: 700;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
	min-width: 375px;
}

body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

img,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3 {
	line-height: 1;
}

/* main styles */

body {
	background-color: var(--cream);
	font-family: var(--ff-base);
	font-weight: var(--fw-regular);
	font-size: 14px;
	color: var(--grayish-blue);

	display: grid;
	place-content: center;
}

/* utilities */

.price {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
}

.button {
	cursor: pointer;
	text-decoration: none;
	display: inline-flex;
	gap: 0.75rem;
	justify-content: center;
	align-items: center;

	border: none;
	border-radius: 0.5rem;
	padding: 0.75em 1.5em;
	background-color: var(--dark-cyan);
	color: var(--white);
	font-weight: var(--fw-bold);
	font-size: 0.95rem;
}

.button:is(:hover, :focus) {
	background-color: var(--darker-cyan);
}

.button[data-icon='shopping-cart']::before {
	content: '';
	background-image: url('images/icon-cart.svg');
	width: 15px;
	height: 16px;
}

.container {
	min-width: auto;
	padding: auto;
}

/* product styles */

.product {
	--content-padding: 1.5rem;
	--content-spacing: 1rem;

	display: grid;
	background-color: var(--white);
	border-radius: 0.5rem;
	overflow: hidden;
	max-width: 343px;
}

@media (min-width: 640px) {
	.product {
		--content-padding: 2rem;
		grid-template-columns: 1fr 1fr;
		max-width: 600px;
	}
}

.product__content {
	padding: var(--content-padding);
	display: grid;
	gap: var(--content-spacing);
}

.product__category {
	font-size: 0.825rem;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.product__title {
	font-family: var(--ff-accent);
	font-size: 2rem;
	/* font-weight: var(--fw-bold); */
	color: var(--dark-blue);
}

.product__actual-price {
	font-size: 2rem;
	font-family: var(--ff-accent);
	color: var(--dark-cyan);
}

.product__old-price {
	text-decoration: line-through;
}
